.aboutPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.aboutPage__wrapper {
    flex: 1 0 auto;
}

.about-main {
    padding: 20px;
    margin: 0 auto;
    width: 95%;
 
}

@media screen and (max-width: 1080px) {
     
    .about-main {
        margin: 10px auto;
        margin-left: 10px;
        width: 95%;
    }
   
}

@media screen and (max-width: 768px) {
    .about-main {
        padding:  0px;
        margin: 0px;
        margin-left: 10px;
        width: 95%;
    }
    .aboutPage {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}