.card {
    width: 340px;
    height: 340px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    animation: fadeInUp 600ms ease-in-out;
    overflow: hidden;
    margin-left: 50px;
  
    &_img {
    width: inherit;
    height: inherit;
    object-fit: cover;
    border-radius: inherit;
    transform: scale(1);
    transition: transform 300ms;
    }
  
    &_title {
      position: absolute;
      bottom: 0;
      margin: 15px 20px;
      color: rgba(255, 255, 255, 1);
      font-family: 'montserrat';
      font-size: 18px;
      box-sizing: inherit;
    }
    &:hover {
      > .card_img {
        transform: scale(1.01);
      }
    }
}  