.header {
    display: flex;
    justify-content: space-between;
    color: black;
  }
  
nav {
    padding: 40px;
    display: flex;
    gap: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
  }
  
.nav-header__nav-link-home,
.nav-header__nav-link-about {
  text-decoration: none;
  font-family: 'montserrat';
  font-size: 24px;
  color: black;
}

.nav-header__nav-link-home.active,
.nav-header__nav-link-about.active {
  text-decoration: underline;
}

.logoheader{
    padding: 40px;
    margin-left: 80px;
    width: 180px;
    height: 60px;
}
